<div class="voltar">
  <button (click)="voltarParaPaginaPrincipal()">VOLTAR</button>
</div>

<div class="cont-criar-tarefa">
  <h2 class="tarefa">CRIAR TAREFA</h2>

  <div class="tarefa-titulo">
    <h2 style="margin-left: 25px;">Titulo:</h2>
    <input [(ngModel)]="titulo" maxlength="65" style="margin-left: 70px;" type="text" placeholder="Digite o titulo da tarefa">
  </div>

  <div class="tarefa-descicao">
    <h2 style="margin-left: 25px;">Descrição</h2>
    <textarea [(ngModel)]="descricao" style="min-width: 50%; max-width: 50%; max-height: 180px; min-height: 180px;" maxlength="500" placeholder="Digite a descrição da tarefa"></textarea>
  </div>

  <div class="cont-prioridade-data">
    <div class="prioridade">
      <h2 style="margin-left: 25px;">Prioridade</h2>
      <select [(ngModel)]="prioridade">
        <option value="BAIXA">Baixa</option>
        <option value="MEDIA">Média</option>
        <option value="ALTA">Alta</option>
      </select>
    </div>

    <div class="data">
      <h2 style="margin-left: 100px;">Data</h2>
      <input [(ngModel)]="data" type="date">
    </div>

    <div class="botao-criar-tarefa">
      <button type="button" (click)="criarTarefa()">CRIAR TAREFA</button>
    </div>
  </div>
</div>
