<div class="addTarefas">
    <button  (click)="navegarParaCriarTarefa()" class="button">+ CRIAR</button>
    <input type="text" name="addTarefas" id="addTarefas" placeholder="PESQUISAR TAREFAS"/>
    <button class="botao-pesquisa">PESQUISAR</button>
</div>

<div class="content">

    <div class="left-column">

        <div class="cont-posentagem">
            <p style="margin-left: 30px;"><strong>Total:</strong></p>

            <div class="totalDeTarefas">
                <h1 style="margin-top: 20px;">{{totalTarefas }}</h1>
            </div>
                 <div class="po-tarefas">
                    <h3>Concluídos: {{concluidas}}</h3>
                    <h3>Pendentes: {{pendentes}}</h3>
                    <h3>Em andamento: {{emAndamento}}</h3> 
                </div>
        </div>

    <div class="cont-filtro">
       <div class="filtros">
           <span><strong>Prioridades:</strong></span>
           <select name="prioridades" id="prioridades">
               <option value="">Todas</option>
               <option value="alta">Alta</option>
               <option value="media">Média</option>
               <option value="baixa">Baixa</option>
           </select>
           <span><strong>Status:</strong></span>
           <select name="status" id="status">
               <option value="">Todos</option>
               <option value="pendente">Pendente</option>
               <option value="em_andamento">Em Andamento</option>
               <option value="concluido">Concluído</option>
           </select>
           <span><strong>Data:</strong></span>
           <input type="date" name="data" id="data">

           <div class="consultar">
              <button type="button">Consultar</button>
           </div>
       </div>
    </div>

    </div>

    
    <div class="cont-tarefas"> 
       <div *ngFor="let tarefa of tarefas; let i = index" class="tarefa-item" [ngStyle]="getEstiloTarefa(tarefa)">
        <div class="cont-titulo">
            <h3>{{tarefa.titulo}}</h3>
            <button class="editar">EDITAR</button>
        </div>
            <div class="cont-descricao">
                <p>{{tarefa.descricao}}</p>
            </div>
              <div class="cont-detalhes">
                  <p style="margin-left: 10px;">Data: {{tarefa.data | date:'dd/MM/yyyy'}}</p>
                  <p style="margin-left: 83px;">Prioridade: {{tarefa.prioridade}}</p>
                    <button style="margin-left: 195px;" (click)="deletarTarefa(i)">Excluir</button>
                    <button  (click)="refazerTarefa(i)">Refazer</button>
                    <button style="margin-left: 10px;" (click)="concluirTarefa(i)">Concluir</button>
              </div>
       </div>
    </div>

    
</div>

