<div class="addTarefas">
    <button class="button">+ CRIAR</button>
    <input type="text" name="addTarefas" id="addTarefas" placeholder="PESQUISAR TAREFAS"/>
</div>

<div class="content">

    <div class="left-column">

        <div class="cont-posentagem">
            <p style="margin-left: 30px;">Total:</p>

            <div class="totalDeTarefas">
                <h1 style="margin-top: 20px;">0</h1>
            </div>
                 <div class="po-tarefas">
                    <h3>Concluidos: 0</h3>
                    <h3>Em andamento: 0</h3> 
                </div>
        </div>

        <div class="cont-filtro"> 
            <div class="filtros">
                <span>Prioridades:</span>
                <input type="text" name="" id="">
                <span>Status:</span>
                <input type="text" name="" id="">
                <span>Data:</span>
                <input type="text" name="" id="">

                <div class="consultar">
                    <button type="button">Consultar</button>
                </div>
            </div>
        </div>

    </div>

    
    <div class="cont-tarefas"> 
       <h2 style="margin-left: 30px;">Nenhuma tarefa cadastrada no momento</h2>
    </div>

    
</div>

